<h2>Mi Perfil</h2>

<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>
<p>Rol: {{user.role}}</p>


<button><a href="/api/session/logout">Logout</a></button>